<!DOCTYPE html>

<html lang="pt-BR">

<head>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/css/styleResetsenha.css">
      <title>REDEFINIR SENHA </title>

</head>

<body>

      <div id="Login">

         <div class="caixa">

            <img src="/static/img/Banco Original_idWfVTaMvl_3.png" alt="">
            
                   <h1>REDEFINÇÃO DE SENHA</h1>
          
                         <br>
            
                               <p>Para recuperar sua senha, preencha o campo abaixo <br> 
                                           com seu e-mail cadastrado.</p>
           
                                    <br>
           

            <!--E-MAIL-->
                              <div class="email">     

                        <input type="email" placeholder="Por favor, insira o seu endereço de e-mail">

                  </div>

            <br>

      <br>

           <!--BOTÃO ENTRAR-->
      
           <div class="entrar">
             
                  <a href="/templates/loginclient.html">

                        <input type="submit" value="Entrar">
                              
                              </a>
              
                                    <br>
                              <br>

                        <br>

                  <br>

            <!--CADASTRO-->

            <a href="/templates/cadastrocliente.html"> Criar conta nova</a>


      <br>

            <br>

            <!--LOGIN-->
                  
                  <div class="reset">
                  
                        <p2><a href="/templates/loginclient.html" class="no-underline">Voltar para o Login</a></p>
                              
                              </div>    

                                     </div>

                              </div>

                        </div>

            </body>

</html>