<!DOCTYPE html>

<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleHome.css">
    <title>Serasa Exemplo</title>
   
</head>

<body>

    <header>
        <p class="nome" data-testid="topbar-title" class="eu-text-ellipsis ea-typography ea-typography--subheading et-text-dark-high">Olá, Igor</p>
        <p class="CPF" data-testid="topbar-title" class="eu-text-ellipsis ea-typography ea-typography--subheading et-text-dark-high">CPF: 083.378.***</p>
        
             <div class="caixa">

                <img src="/static/img/Banco Original_idWfVTaMvl_3.png" alt="">
                

    </header>

    <nav>

        <a href="#">Início</a>
        <a href="#">Produtos</a>
        <a href="#">Soluções</a>
        <a href="#">Contato</a>
        <a href="/templates/loginclient.html">Sair</a>

    </nav>
    
    <main>
    
        <h2>Entenda seu momento financeiro CLIENTE</h2>
    
        <p>
            Banco Online Score 
        </p>
    </main>

    <footer>
        <p>&copy; 2024 Banco Original. Todos os direitos reservados.</p>
    </footer>



</body>
</html>
