<!DOCTYPE html>

<html lang="pt-BR">

<head>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/static/css/styleLogin.css">
      <title>LOGIN</title>

</head>

<body>

      <div id="Login">

         <div class="caixa">

             <img src="/static/img/Banco Original_idWfVTaMvl_3.png" alt="">
                
                <h1>LOGIN</h1>

         <!--E-MAIL-->

                   <div class="email">
                    
                        <input type="email" placeholder="E-mail">
                    
                            </div>
        

        <!--SENHA-->
                        
                         <div class="senha">

                      <input type="password" placeholder="Senha">
            
                  <br>
            
            <br>
           
          </div>


        <!--BOTÃO ENTRAR-->

                <div class="entrar">
                  
                    <a href="/templates/homeclient.html">
                    
                        <input type="submit" value="Entrar" >

                         </a>
                    
                       <br>

                <br>
                
            <br>
                
         <br>
        

        <!--CADASTRO-->

            <p>Ainda não tem login? <a href="/templates/cadastrocliente.html">Cadastre aqui</a></p>
  
                         
        <!--LOGIN FUNCIONÁRIO-->
        
            <P>Acesso <a href="/templates/loginfunc.html">Funcionário</a></p></P>
                
        <!--REDEFINIÇÃO DE SENHA-->

                <div class="reset">
                  
                    <p><a href="/templates/esquecisenhaclient.html">Esqueci senha</a></p>
                  
                 
                            </div>    

                    </div>

                </div>

            </div>

        </body>

</html>