body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #293129;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: rgb(24, 143, 83);
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #121612;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nome {
    background-color: #293129;
    color: #ffffff;
    text-align: left;
}



.CPF {
    background-color: #293129;
    color: #ffffff;
    text-align: left;
}


.caixa {
    margin-top: -65px;
}

.caixa img {
    width: 500px;
}




